<%- include header %>
<% posts.forEach(function (post, index) { %>
    <p><h2><a href="/user/<%= post.user_name %>/<%= post.create_time%>/<%= post.title %>"><%= post.title %></a></h2></p>
    <p class="info">
        作者：<a href="/user/<%= post.user_name %>"><%= post.user_name %></a> | 
        日期：<%= post.create_time %>
    </p>
    <p><%- post.post %></p>
<% }) %>
<%- include pagination %>
<%- include footer %>